.show-pass {
    display: inline-block;
    left: 88%;
    top:35px;
    cursor: pointer;
    position: absolute;
    z-index: 4px;
    background: #03a9f3 !important;
    border-radius:3px ;
    border: 1px solid #03a9f3;
    width:70px;
}

.btn-transparent {
    background: transparent !important;
    color: #03a9f3;
    -webkit-transition: background .2s ease-in-out, border .2s ease-in-out;
    -moz-transition: background .2s ease-in-out, border .2s ease-in-out;
    -o-transition: background .2s ease-in-out, border .2s ease-in-out;
    transition: background .2s ease-in-out, border .2s ease-in-out;
    border: 2px solid #e4e7ea;
}

.new-key-btn{
    padding-top: 25px;
    padding-left: 40px
}

.btn-transparent:hover {
    background: #03a9f3 !important;
    border: 1px solid #03a9f3 !important;
    color: #ffffff;
}

@media (min-width: 1400px) and (max-width:1800px) {
    .show-pass {
        left: 88%;
        top:35px;;
    }
}

@media (min-width: 1801px) and (max-width:2800px) {
    .show-pass {
        left: 93%;
        top:32px;;
    }
}