h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.navbar {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  margin-right: 0px;
  padding-top: 42px;
  padding-right: 0px;
  padding-bottom: 0px;
  background-color: rgba(222, 222, 222, 0);
}

.hero-section {
  height: 700px;
  padding-top: 177px;
  background-color: #273765;
  background-image: url('../images/background-01.svg');
  background-position: 0px 50%;
  background-size: cover;
}

.navlink {
  display: inline-block;
  margin-top: 8px;
  margin-right: 27px;
  padding: 2px 1px 8px;
  border-color: white;
  font-family: 'Open Sans', sans-serif;
  color: white;
  text-align: center;
}

.navlink:hover {
  display: inline-block;
  border-bottom-style: solid;
  border-bottom-color: white;
  text-align: center;
}

.navlink.w--current {
  color: white;
}

.all-h1-heading {
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 36px;
  font-weight: 300;
}

.all-h1-heading.obtain {
  color: black;
}

.all-h1-heading.create-account {
  margin-bottom: 18px;
  padding-top: 1px;
  text-align: center;
}

.form-holder {
  position: static;
  left: 0px;
  top: 0px;
  right: 0px;
  display: inline-block;
  overflow-x: visible;
  overflow-y: visible;
  width: 450px;
  margin-top: 13px;
  float: none;
  clear: none;
  text-align: left;
}

.first-holder {
  width: 207px;
  float: left;
  background-color: transparent;
}

.second-holder {
  position: relative;
  left: 0px;
  top: 0px;
  right: 0px;
  display: block;
  width: 207px;
  margin-right: 0px;
  margin-left: 13px;
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
  float: left;
  background-color: transparent;
}

.field-label-text {
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 16px;
  font-weight: 400;
}

.textfield {
  height: 47px;
  border-radius: 8px;
}

.textfield:hover {
  border: 1px solid red;
}

.third-input {
  width: 430px;
  float: left;
}

.submit-nx {
  width: 430px;
  height: 47px;
  border-radius: 8px;
  background-color: red;
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}

.click-sign-up {
  margin-top: 10px;
  margin-bottom: 2px;
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
}

.click-sign-up.sign-in {
  font-weight: 400;
}

.click-sign-up.create {
  color: #333;
}

.sign-in {
  font-size: 16px;
  font-weight: 700;
}

.main-wrapper {
  margin-top: 31px;
  padding-top: 0px;
}

.main-section {
  #height: 450px;
  #padding: 54px 22px 22px;
  background-color: #ececec;
  #background-image: url('../images/wooden.jpg');
  background-position: 100% 50%;
  background-size: contain;
}

.object--fold {
  width: 450px;
  height: 300px;
  float: left;
}

.ipad-holder {
  display: block;
  width: 300px;
  height: 400px;
  float: right;
}

.paragraph {
  font-size: 16px;
  line-height: 0px;
}

.producre-code-heading {
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 36px;
  font-weight: 400;
}

.w-section-customers {
  padding: 10px 0px 40px
}

.customer-code-heading p {
  padding: 50px 0px;
  font-family: 'Open Sans', sans-serif;
  color: #0f0f0f;
  font-size: 36px;
  font-weight: 400;
  text-align: center;
}

.phone-numbers-code-heading {
  font-family: 'Open Sans', sans-serif;
  color: black;
  font-size: 23px;
  font-weight: bold;
}

.producre-code-heading.produceuct-code-ssub-headinge {
  padding-bottom: 18px;
  font-size: 17px;
  line-height: 25px;
  font-weight: 300;
}

.producre-code-heading.channel {
  color: #4b4646;
}

.watch-now-link {
  border-radius: 8px;
  background-color: #00aeef;
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-weight: 600;
}

.distribution-channel-layout {
  height: 400px;
  padding: 48px 22px 22px;
  background-color: #0098ff;
  background-image: url('../images/channel-background.jpg');
  background-position: 0px 0px;
  background-size: cover;
}

.mac-air-holder {
  width: 500px;
  padding-top: 26px;
  float: left;
}

.channel-holder {
  width: 400px;
  float: right;
}

.footer {
  display: block;
  height: 140px;
  margin-right: auto;
  margin-left: auto;
  padding: 30px;
  background-color: #00aeef;
  text-align: left;
}

.s-info-holder {
  min-height: 900px;
  margin-bottom: 0px;
  padding-top: 27px;
  background-color: #f1f1f1;
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-weight: 600;
  text-align: center;
}

.legal-doc {
  display: block;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-right: 0px;
  color: white;
  text-align: center;
  letter-spacing: 0px;
}

.copyright-sec {
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 12px;
  font-weight: 300;
  text-align: center;
}

.create-wrapper {
  display: block;
  margin: 0px;
  padding: 35px 10px 0px;
  background-color: #283766;
}

.create-wrapper.pay {
  height: 700px;
}

.create-wrapper.confirm-order {
  height: 700px;
}

.create-wrapper.payment {
  height: 800px;
}

.create-account--info {
  position: static;
  display: block;
  width: 770px;
  margin-right: auto;
  margin-bottom: 34px;
  margin-left: auto;
  float: none;
  background-color: transparent;
}

.logo {
  position: static;
  left: 0px;
  top: 0px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  float: none;
  clear: none;
  background-color: transparent;
}

.create-account-holder {
  display: block;
  width: 500px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  padding: 36px 25px;
  border-radius: 8px;
  background-color: #f1f1f1;
}

.field-label-create {
  display: inline-block;
  height: 20px;
  margin-bottom: 11px;
  margin-left: 0px;
  padding-bottom: 0px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-align: center;
}

.field-label-create.order-section {
  display: inline-block;
  margin-bottom: 0px;
  margin-left: 60px;
  padding-top: 1px;
}

.text-field-form {
  height: 47px;
  border-color: transparent;
  border-radius: 8px;
}

.text-field-form:hover {
  border-color: red;
}

.sign-up {
  display: block;
  width: 450px;
  height: 47px;
  margin-bottom: 7px;
  padding: 12px;
  border-radius: 8px;
  background-color: red;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 700;
}

.sign-up:hover {
  background-color: #c41010;
}

.captcha {
  height: 40px;
}

.container-x {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.channel-link {
  margin-bottom: 10px;
}

.sub-footer-nav {
  margin-right: 10px;
  font-family: 'Open Sans', sans-serif;
  color: white;
  text-align: center;
  text-decoration: none;
}

.sub-footer {
  display: block;
  margin-right: auto;
  margin-bottom: 9px;
  margin-left: auto;
  text-align: center;
}

.confirm-order-text-field {
  display: inline-block;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 90px;
  height: 20px;
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  text-align: center;
}

.confirm-order-text-field.o-section {
  margin: 0px 26px 0px 0px;
  padding-right: 1px;
}

.c-block {
  display: block;
  height: 47px;
  margin-top: 1px;
  margin-bottom: 17px;
  padding-top: 10px;
  padding-right: 8px;
  padding-left: 7px;
  border-radius: 8px;
  background-color: white;
  text-align: center;
}

.confirm-oder-text {
  display: inline;
}

.confirm-order-holder {
  display: block;
  overflow-x: hidden;
  overflow-y: hidden;
  margin-right: auto;
  margin-left: auto;
  padding: 33px;
  border-radius: 8px;
  background-color: whitesmoke;
}

.pay {
  width: 704px;
  height: 47px;
  border-radius: 8px;
  background-color: red;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

.form-center {
  text-align: center;
}

.info--section {
  height: 120px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  background-color: #283766;
}

.support-section {
  display: block;
  margin-right: auto;
  padding-top: 5px;
  padding-bottom: 7px;
  padding-left: 0px;
  float: none;
  border-style: none;
  border-color: transparent;
  border-right-width: 1px;
  border-bottom-width: 1px;
  background-color: transparent;
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-weight: 600;
  text-align: center;
}

.support-heading-style {
  color: #333;
  font-size: 36px;
  font-weight: 400;
  text-align: left;
}

.sub-heading-textblock {
  color: #706262;
  text-align: left;
}

.p-text {
  font-family: 'Open Sans', sans-serif;
  color: #817e7e;
  font-weight: 300;
  text-align: left;
}

.support-side-nav {
  display: block;
  margin-top: 17px;
  padding-left: 13px;
  border-style: none none none solid;
  border-color: transparent transparent transparent #b4aeae;
  border-left-width: 1px;
}

.side-nav-link {
  display: block;
  margin-top: 0px;
  margin-bottom: 13px;
  padding-bottom: 0px;
  color: #b4b4b4;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
}

.side-nav-link:hover {
  color: red;
}

.side-nav-link.w--current {
  display: block;
  color: #b4b4b4;
  text-decoration: none;
}

.side-nav-link.w--current:hover {
  color: red;
}

.side-nav-link.h3 {
  color: #575757;
  font-size: 18px;
}

.contact-us-form {
  width: 450px;
  padding-left: 0px;
  background-color: transparent;
  text-align: left;
}

.sc-info-section {
  color: #333;
  font-weight: 400;
}

.message {
  border-radius: 8px;
}

.column {
  float: left;
  width: 25%;
  font-family: 'Open Sans', sans-serif;
  #font-size: 36px;
  font-weight: 400;
}

.column h1 {
  font-size: 38px;
  line-height: 34px;
  margin-top: 0px;
}

/* Clear floats after the columns */

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media (max-width: 991px) {
  .hero-section {
    height: 600px;
    padding-top: 159px;
  }
  .navlink {
    position: relative;
    display: block;
    margin: 0px auto;
    padding: 11px 0px;
    clear: none;
    border-style: none;
    border-color: transparent;
    text-align: center;
    text-transform: none;
  }
  .navlink:hover {
    display: block;
    margin-right: auto;
    margin-left: auto;
    border-style: none;
    background-color: #0098ff;
  }
  .navlink:active {
    margin-bottom: 0px;
    padding-bottom: 11px;
    border-style: none;
    border-color: transparent;
    background-color: transparent;
  }
  .main-wrapper {
    margin-top: 8px;
  }
  .main-section {
    height: 470px;
    #padding-top: 29px;
  }
  .object--fold {
    width: 400px;
  }
  .ipad-holder {
    width: 320px;
    height: 350px;
    padding-top: 7px;
    padding-bottom: 0px;
  }
  .producre-code-heading.channel {
    margin-top: 1px;
  }
  .mac-air-holder {
    width: 320px;
    padding-top: 1px;
  }
  .create-account--info {
    width: 500px;
  }
  .create-account-holder {
    display: block;
    padding-right: 26px;
    padding-left: 26px;
  }
  .sign-up {
    display: block;
    width: 450px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
  }
  .container-x {
    display: block;
  }
  .nav-icon {
    background-color: transparent;
    color: white;
    font-size: 40px;
    line-height: 15px;
    font-weight: 700;
    letter-spacing: 0px;
    text-indent: 0px;
    text-transform: none;
  }
  .menu-button {
    display: block;
    padding: 9px 3px;
    background-color: transparent;
  }
  .menu-button.w--open {
    padding-right: 3px;
    padding-bottom: 9px;
    padding-left: 3px;
    border-style: none;
    background-color: transparent;
  }
  .menu-button.w--open:hover {
    padding: 9px 3px;
    border-style: none;
    border-color: transparent;
    background-color: transparent;
  }
  .online-payment-img {
    position: static;
    top: 0px;
    right: 0px;
    display: block;
    overflow-x: scroll;
    overflow-y: scroll;
    margin-right: auto;
    margin-left: auto;
    float: none;
    text-align: left;
  }
  .toggle {
    padding-left: 0px;
    background-color: #273765;
  }
  .confirm-order-text-field {
    display: inline-block;
    width: 70px;
    margin-left: 6px;
    text-align: center;
  }
  .c-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    background-color: white;
  }
  .confirm-oder-text {
    display: inline;
  }
  .confirm-account---id {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .pay {
    width: 433px;
  }
  .form-center {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .support-side-nav {
    margin-top: 17px;
  }
}

@media (max-width: 767px) {
  .hero-section {
    padding-top: 121px;
  }
  .main-wrapper {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding: 30px 53px 53px;
    text-align: left;
  }
  .main-section {
    #height: 320px;
    #padding-top: 23px;
  }
  .object--fold {
    display: block;
    height: 250px;
    margin-right: auto;
    margin-left: auto;
    float: none;
    text-align: center;
  }
  .ipad-holder {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-top: 19px;
    float: none;
  }
  .producre-code-heading.channel {
    text-align: center;
  }
  .distribution-channel-layout {
    height: 600px;
  }
  .mac-air-holder {
    display: block;
    width: 450px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
    float: none;
  }
  .channel-holder {
    display: block;
    margin-right: auto;
    margin-left: auto;
    float: none;
  }
  .menu-button {
    margin-top: 6px;
    margin-right: 10px;
  }
  .brand {
    padding-left: 43px;
  }
  .online-payment-img {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .individual-channel {
    margin-right: 8px;
  }
  .support-side-nav {
    border-left-style: none;
    border-left-color: transparent;
  }
}

@media (max-width: 479px) {
  .column {
    width: 100%;
  }
  .hero-section {
    height: 600px;
    padding-top: 114px;
  }
  .all-h1-heading {
    width: 300px;
    font-size: 24px;
    line-height: 0px;
    font-weight: 300;
    letter-spacing: 0px;
    text-indent: 0px;
  }
  .all-h1-heading.create-account {
    margin-bottom: 28px;
  }
  .form-holder {
    width: 300px;
  }
  .first-holder {
    width: 144px;
  }
  .second-holder {
    width: 140px;
  }
  .field-label-text {
    font-size: 12px;
  }
  .textfield {
    width: 145px;
  }
  .third-input {
    width: 300px;
  }
  .submit-nx {
    width: 305px;
  }
  .click-sign-up {
    width: 300px;
    font-size: 9px;
  }
  .click-sign-up.create {
    width: 240px;
  }
  .sign-in {
    font-size: 14px;
  }
  .main-wrapper {
    margin-top: 13px;
    padding: 0px 8px 5px;
  }
  .main-section {
    height: 1450px;
    #padding: 20px 16px 0px;
  }
  .object--fold {
    width: 300px;
    padding-top: 0px;
  }
  .ipad-holder {
    width: 300px;
    padding-top: 41px;
    padding-bottom: 0px;
  }
  .producre-code-heading {
    display: inline;
    text-align: center;
  }
  .producre-code-heading.produceuct-code-ssub-headinge {
    display: inline-block;
    width: 300px;
    font-size: 14px;
  }
  .producre-code-heading.produceuct-code-ssub-headinge.channel {
    width: 280px;
    font-size: 14px;
    line-height: 25px;
  }
  .producre-code-heading.channel {
    font-size: 24px;
    line-height: 27px;
  }
  .producre-code-heading.mobile {
    display: block;
    font-size: 24px;
    line-height: 27px;
    text-align: center;
    text-decoration: none;
    text-transform: none;
  }
  .mac-air-holder {
    width: 280px;
    margin-bottom: 30px;
  }
  .channel-holder {
    width: 280px;
    text-align: center;
  }
  .footer {
    display: block;
    height: 180px;
    margin-right: auto;
    margin-left: auto;
  }
  .create-wrapper {
    display: block;
  }
  .create-wrapper.payment {
    height: 800px;
  }
  .create-account--info {
    width: 300px;
  }
  .logo {
    display: block;
    margin-right: auto;
    margin-bottom: 6px;
    margin-left: auto;
    padding-bottom: 1px;
    float: none;
    clear: none;
  }
  .create-account-holder {
    width: 300px;
  }
  .field-label-create {
    font-size: 12px;
  }
  .sign-up {
    display: block;
    width: 250px;
    font-weight: 700;
  }
  .sign-up:hover {
    background-color: #c41010;
  }
  .sign-up.cu {
    width: 300px;
  }
  .nav-icon {
    display: block;
    margin-right: 0px;
    padding-right: 0px;
    text-align: center;
  }
  .nav-icon:hover {
    border-style: none;
    border-color: transparent;
  }
  .menu-button {
    padding-right: 3px;
    padding-left: 3px;
  }
  .menu-button.w--open {
    padding: 9px 3px;
    border: 1px none white;
    border-radius: 6px;
    background-color: transparent;
  }
  .brand {
    padding-left: 11px;
  }
  .individual-channel {
    margin-bottom: 8px;
  }
  .sub-footer-nav {
    display: inline;
    width: 280px;
    margin-right: 10px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-left: 0px;
    float: none;
    text-align: center;
  }
  .sub-footer {
    display: block;
    min-width: 1px;
    margin-right: auto;
    margin-bottom: 4px;
    margin-left: auto;
    padding-right: 0px;
    padding-left: 0px;
    float: none;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
  }
  .footer-n {
    display: block;
    text-align: center;
  }
  .footer-sub-nav {
    margin-right: 6px;
    margin-left: 3px;
    padding-left: 1px;
    font-family: 'Open Sans', sans-serif;
    color: white;
  }
  .toggle {
    padding-top: 13px;
  }
  .confirm-order-text-field {
    display: inline-block;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 40px;
    margin-right: 8px;
    margin-left: 3px;
    float: none;
  }
  .c-block {
    padding-right: 0px;
    padding-left: 0px;
    text-align: left;
  }
  .confirm-oder-text {
    display: inline;
  }
  .confirm-order-holder {
    padding: 36px 15px;
  }
  .pay {
    width: 270px;
    background-color: red;
  }
  .form-center {
    display: inline;
  }
  .contact-us-form {
    width: 300px;
  }
}